*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle\.properties

\.idea/

app/src/debug/res/values/api_access\.xml
app/src/release/res/values/api_access\.xml
app/google-services\.json